body{
    color: darkslategray;
    background-color: #bdfffb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

#weatherData{
    margin-top: 7%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    background-color: #bdfffb;
    border: solid 2px darkslategray;
    border-radius: 5px;
    padding: 1%;
    font-size: 120%;
    color: darkslategray;
}

button{
    margin-top: 1%;
    padding: 1%;
    background-color: darkslategray;
    border: none;
    border-radius: 5px;
    color: #bdfffb;
}

button:hover{
    background-color: #003330;
 
}

section{
    margin-top: 2%;
}

#currentTemp{
    font-size: 180%;
}

#lowTemp{
    color: #0062f5;
}
#highTemp{
    color: #f50014;
}
h1{
    font-size: 200%;
    margin: 2%;
}
h2{
    font-size: 130%;
    margin-bottom: 2%;
}
p{
    margin-top: 10%;
}
#weatherWords{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}

img{
    max-width: 100%;
}